:root {
  --white: #FFFFFF;
  --black: #000000;
  --neutral100: #FBFBFB;
  --neutral200: #C2BDBD;
  --neutral300: #BABABA;
  --neutral400: #767676;
  --neutral450: #555555;
  --neutral500: #232222;
  --neutral700: #171515;
  --primary100: #FFC16E;
  --primary200: #FFBD65;
  --primary250: #ffaD20;
  --primary300: #F89D24;
  --primary400: #CC7500;
  --primary500: #B16500;
  --heading: #F8F8F8;
  --info: #BBBBBB;
  --background: #1A1D23; 
}

main {
  width: 100%;
  height: 100vh;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--background);
}

main .container__options {
  display: flex;
  align-items: center;
  gap: 10px;

  position: absolute;
  top: 10px;
  right: 10px;
}

main .container__user {
  position: absolute;

  left: 10px;
  top: 10px;
}

main .container__user p {
  color: #ccc;
  font-size: 16px;
}

main .container__user span {
  color: white;
  font-size: 14px;
}

main .container__button__user, main .container__button__graph {
  padding: 2px;

  background: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

main .container__button__user:hover, main .container__button__graph:hover{
  filter: opacity(0.7);
  border: 1px solid var(--primary300);
}

main .container__button__user svg, main .container__button__graph svg  {
  width: 30px;
  height: 30px;

  fill: #F89D24;
  stroke: #F89D24;
}

main header {
  margin-top: 40px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  gap: 10px;
}

main header button {
  padding: 8px;

  background: transparent;
  border: 0;
  cursor: pointer;
  border-radius: 4px;

  font-size: 50px;
  color: var(--info);

  transition: all 0.2s;
}

main header button:hover {
  color: white;
}

main header .button__timer__selected {
  background: var(--primary300);
  color: var(--heading);
  font-weight: bold;
}

main .timer {
  margin: 20px 0;
  padding: 10px 0;
  
  display: flex;
  justify-content: center;
  gap: 2px;
  
  border-top: 2px solid var(--neutral450);
  border-bottom: 2px solid var(--neutral450);
}

main .timer span {
  font-size: 120px;
  font-weight: bold;
  font-family: sans-serif;
  color: var(--white);
}

main .timer .dots {
  line-height: 0.8;
  color: var(--neutral100);
}

main .options {
  width: 300px;

  margin-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

main .options div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

main .options button {
  width: 100%;
  padding: 10px 20px;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  
  font-size: 18px;
  font-weight: bold;

  background: transparent;
  color: var(--primary300);
  border: 2px solid var(--primary300);

  transition: all 0.2s;
}

main .options button:hover {
  filter: opacity(0.8);
}

main .options > button {
  background: var(--primary300);
  color: var(--neutral700);
  border: 0;
}

main .options button:disabled {
  cursor: not-allowed;;

  filter: blur(1px);
}

.hideButtonOption {
  opacity: 0;
}